@page
@model fashion.Areas.Admin.Views.Dashboard._OrdersModel
@{
}

<div class="col-12 col-md-6 col-xl-4 d-flex">
    <div class="widget">
        <div class="widget__wrapper">
            <div class="widget__row">
                <div class="widget__left">
                    <h3 class="widget__title">Orders</h3>
                    <div class="widget__status-title text-grey">Total visits today</div>
                    <div class="widget__trade">
                        <span class="widget__trade-count">1000</span><span class="trade-icon trade-icon--down">
                            <svg class="icon-icon-trade-down">
                                <use xlink:href="#icon-trade-down"></use>
                            </svg>
                        </span><span class="badge badge--sm badge--red">3%</span>
                    </div>
                    <div class="widget__details">
                        <a class="link-under text-grey" href="#">Detail</a>
                    </div>
                </div>
                <div class="widget__chart">
                    <div class="widget__chart-inner">
                        <div class="widget__chart-percentage">
                            75<small>%</small>
                        </div>
                        <div class="widget__chart-caption">New Orders</div>
                    </div>
                    <div class="widget__chart-canvas js-progress-circle" data-value="0.75" data-color="#FDBF5E"></div>
                </div>
            </div>
        </div>
    </div>
</div>