@page
@model fashion.Areas.Admin.Views.Dashboard._Revenue_ProfitModel
@{
}

<section class="section">
    <div class="section__title d-none">
        <h2>Section</h2>
    </div>
    <div class="row justify-content-center gutter-bottom-xl">
        <div class="col-12 col-lg-7 col-xl-8 d-flex">
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__container">
                        <div class="card__header">
                            <div class="card__header-left">
                                <h3 class="card__header-title">Revenue</h3>
                            </div>
                            <div class="card__tools">
                                <div class="card__tools-row row row--xs gutter-bottom-xs">
                                    <div class="card__tools-calendar col-auto">
                                        <div class="input-group input-group--prepend input-group--append">
                                            <div class="input-group__prepend">
                                                <svg class="icon-icon-calendar">
                                                    <use xlink:href="#icon-calendar"></use>
                                                </svg>
                                            </div>
                                            <input class="input input--select" type="text" value="01.12.18 / 07.12.18" readonly="readonly" /><span class="input-group__arrow">
                                                <svg class="icon-icon-keyboard-down">
                                                    <use xlink:href="#icon-keyboard-down"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card__tools-week col">
                                        <div class="input-group input-group--append">
                                            <input class="input input--select" type="text" value="Week" data-toggle="dropdown" readonly="readonly" /><span class="input-group__arrow">
                                                <svg class="icon-icon-keyboard-down">
                                                    <use xlink:href="#icon-keyboard-down"></use>
                                                </svg>
                                            </span>
                                            <div class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select">
                                                <a class="dropdown-menu__item active" href="#" tabindex="0" data-value="Week">Week</a><a class="dropdown-menu__item" href="#" tabindex="0" data-value="Month">Month</a><a class="dropdown-menu__item"
                                                                                                                                                                                                                          href="#" tabindex="0" data-value="Quarter">Quarter</a><a class="dropdown-menu__item" href="#" tabindex="0" data-value="Year">Year</a><a class="dropdown-menu__item" href="#" tabindex="0" data-value="All Time">All Time</a>
                                                <a class="dropdown-menu__item" href="#" tabindex="0" data-value="Custom">Custom</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__tools-more">
                                <button class="items-more__button">
                                    <svg class="icon-icon-more">
                                        <use xlink:href="#icon-more"></use>
                                    </svg>
                                </button>
                                <div class="dropdown-items">
                                    <div class="dropdown-items__container">
                                        <ul class="dropdown-items__list">
                                            <li class="dropdown-items__item">
                                                <a class="dropdown-items__link">
                                                    <span class="dropdown-items__link-icon">
                                                        <svg class="icon-icon-refresh">
                                                            <use xlink:href="#icon-refresh"></use>
                                                        </svg>
                                                    </span>Refresh
                                                </a>
                                            </li>
                                            <li class="dropdown-items__item">
                                                <a class="dropdown-items__link">
                                                    <span class="dropdown-items__link-icon">
                                                        <svg class="icon-icon-settings">
                                                            <use xlink:href="#icon-settings"></use>
                                                        </svg>
                                                    </span>Settings
                                                </a>
                                            </li>
                                            <li class="dropdown-items__item">
                                                <a class="dropdown-items__link">
                                                    <span class="dropdown-items__link-icon">
                                                        <svg class="icon-icon-download">
                                                            <use xlink:href="#icon-download"></use>
                                                        </svg>
                                                    </span>Download
                                                </a>
                                            </li>
                                            <li class="dropdown-items__item">
                                                <a class="dropdown-items__link">
                                                    <span class="dropdown-items__link-icon">
                                                        <svg class="icon-icon-action">
                                                            <use xlink:href="#icon-action"></use>
                                                        </svg>
                                                    </span>Action
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__body">
                            <div class="card__widgets">
                                <div class="card__widgets-row gutter-bottom-sm">
                                    <div class="card-widget">
                                        <h4 class="card-widget__title">Current week</h4>
                                        <div class="card-widget__trade">
                                            <span class="card-widget__count text-red">$180</span><span class="trade-icon trade-icon--up">
                                                <svg class="icon-icon-trade-up">
                                                    <use xlink:href="#icon-trade-up"></use>
                                                </svg>
                                            </span><span class="badge badge--green badge--sm">5%</span>
                                        </div>
                                    </div>
                                    <div class="card-widget">
                                        <h4 class="card-widget__title">Previous week</h4>
                                        <div class="card-widget__trade">
                                            <span class="card-widget__count text-grey">$52.30</span><span class="trade-icon trade-icon--down">
                                                <svg class="icon-icon-trade-down">
                                                    <use xlink:href="#icon-trade-down"></use>
                                                </svg>
                                            </span><span class="badge badge--red badge--sm">2%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__chart">
                                <div class="card__container card__container--gutter-sm">
                                    <div class="card__chart-item chart-revenue" id="revenueChart" data-series="[[0, 10, 48, 9, 9, 53, 12], [0, 45, 9, 49, 53, 180, 70]]"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 col-xl-4 d-flex">
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__container">
                        <div class="card__header mb-0">
                            <div class="card__header-left">
                                <h3 class="card__header-title">Profit</h3>
                            </div>
                            <div class="card__tools-more">
                                <button class="items-more__button">
                                    <svg class="icon-icon-more">
                                        <use xlink:href="#icon-more"></use>
                                    </svg>
                                </button>
                                <div class="dropdown-items">
                                    <div class="dropdown-items__container">
                                        <ul class="dropdown-items__list">
                                            <li class="dropdown-items__item">
                                                <a class="dropdown-items__link">
                                                    <span class="dropdown-items__link-icon">
                                                        <svg class="icon-icon-refresh">
                                                            <use xlink:href="#icon-refresh"></use>
                                                        </svg>
                                                    </span>Refresh
                                                </a>
                                            </li>
                                            <li class="dropdown-items__item">
                                                <a class="dropdown-items__link">
                                                    <span class="dropdown-items__link-icon">
                                                        <svg class="icon-icon-settings">
                                                            <use xlink:href="#icon-settings"></use>
                                                        </svg>
                                                    </span>Settings
                                                </a>
                                            </li>
                                            <li class="dropdown-items__item">
                                                <a class="dropdown-items__link">
                                                    <span class="dropdown-items__link-icon">
                                                        <svg class="icon-icon-download">
                                                            <use xlink:href="#icon-download"></use>
                                                        </svg>
                                                    </span>Download
                                                </a>
                                            </li>
                                            <li class="dropdown-items__item">
                                                <a class="dropdown-items__link">
                                                    <span class="dropdown-items__link-icon">
                                                        <svg class="icon-icon-action">
                                                            <use xlink:href="#icon-action"></use>
                                                        </svg>
                                                    </span>Action
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__body">
                            <div class="card__chart">
                                <div class="card__chart-item chart-profit" id="profitPieChart" data-series="[200, 120, 180]"></div>
                            </div>
                        </div>
                        <div class="card__footer">
                            <div class="card__container">
                                <table class="card__stat">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="signal" style="color: #FF3D57;"></span><span>Current</span>
                                            </td>
                                            <td>
                                                <span>$500</span><span class="quotation quotation--up">
                                                    <svg class="icon-icon-arrow-down">
                                                        <use xlink:href="#icon-arrow-down"></use>
                                                    </svg>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-grey">37%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="signal" style="color: #FDBF5E;"></span><span>Lost</span>
                                            </td>
                                            <td>
                                                <span>$450</span><span class="quotation quotation--down">
                                                    <svg class="icon-icon-arrow-down">
                                                        <use xlink:href="#icon-arrow-down"></use>
                                                    </svg>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-grey">35%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="signal" style="color: #22CCE2;"></span><span>Target</span>
                                            </td>
                                            <td>
                                                <span>$300</span><span class="quotation quotation--down">
                                                    <svg class="icon-icon-arrow-down">
                                                        <use xlink:href="#icon-arrow-down"></use>
                                                    </svg>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-grey">28%</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>