@{
    ViewData["Title"] = "Home Page";
}

<div id="search-result">
    <!-- Featured Start -->
    <partial name="_Feature" />
    <!-- Featured End -->
    <!-- Categories Start -->
    <partial name="_Categories" />
    <!-- Categories End -->
    <!-- Offer Start -->
    <partial name="_Offer" />
    <!-- Offer End -->
    <!-- Products Start -->
    <partial name="_Trendy_Products" />
    <!-- Products End -->
    <!-- Subscribe Start -->
    <partial name="_Subscribe" />
    <!-- Subscribe End -->
    <!-- Products Start -->
    <partial name="_Just_Arrived" />
    <!-- Products End -->
    <!-- Vendor Start -->
    <partial name="_Vendor" />
    <!-- Vendor End -->
</div>
