﻿<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="MobileOptimized" content="320" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <meta name="description" content="This is the best dashboard" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="This is the best dashboard" />
    <meta name="apple-mobile-web-app-title" content="Admin Dashboard" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet"  />
    <link rel="stylesheet" href="~/Admin/css/apexcharts.css" />
    <link rel="stylesheet" href="~/Admin/css/tippy/tippy.css" />
    <link rel="stylesheet" href="~/Admin/css/flatpickr.min.css" />
    <link rel="stylesheet" href="~/Admin/css/select2.min.css" />
    <link rel="stylesheet" href="~/Admin/css/quill/quill.snow.css" />
    <link rel="stylesheet" href="~/Admin/css/quill/quill.core.css" />
    <link rel="stylesheet" href="~/Admin/css/filepond.min.css" />
    <link rel="stylesheet" href="~/Admin/css/filepond-plugin-image-preview.min.css" />
    <link rel="stylesheet" href="~/Admin/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Admin/css/style.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Admin/img/content/favicons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/Admin/img/content/favicons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Admin/img/content/favicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Admin/img/content/favicons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Admin/img/content/favicons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Admin/img/content/favicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Admin/img/content/favicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Admin/img/content/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Admin/img/content/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/Admin/img/content/favicons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Admin/img/content/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/Admin/img/content/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Admin/img/content/favicons/favicon-16x16.png" />
    <!-- <link rel="manifest" href="~/Admin/img/content/favicons/manifest.json" />-->
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
</head>

<body class="page-home">
    @Html.Partial("../Shared/_Header.cshtml")
    @Html.Partial("../Shared/_Sidebar.cshtml")
    @RenderBody()
    @Html.Partial("../Shared/_Footer.cshtml")
</body>
</html>