﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var isLoggedIn = @HttpContextAccessor.HttpContext.Session.GetInt32("IdCustomer") != null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<aside class="sidebar">
    <div class="sidebar__backdrop"></div>
    <div class="sidebar__container">
        <div class="sidebar__top">
            <div class="container container--sm">
                <a asp-area="Admin" asp-controller="User" asp-action="Index" class="sidebar__logo">
                    <img class="sidebar__logo-icon" src="~/Admin/img/content/logotype.svg" alt="#" width="44" />
                    <div class="sidebar__logo-text">admin</div>
                </a>
            </div>
        </div>
        <div class="sidebar__content" data-simplebar="data-simplebar">
            <nav class="sidebar__nav">
                <ul class="sidebar__menu">
                    <li class="sidebar__menu-item">
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="sidebar__link active" aria-expanded="true">
                            <span class="sidebar__link-icon">
                                <svg class="icon-icon-dashboard">
                                    <use xlink:href="#icon-dashboard"></use>
                                </svg>
                            </span><span class="sidebar__link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar__menu-item">
                        <a class="sidebar__link" href="products.html" data-toggle="collapse" data-target="#E-Commerce" aria-expanded="false">
                            <span class="sidebar__link-icon">
                                <svg class="icon-icon-cart">
                                    <use xlink:href="#icon-cart"></use>
                                </svg>
                            </span><span class="sidebar__link-text">E-Commerce</span><span class="sidebar__link-arrow">
                                <svg class="icon-icon-keyboard-down">
                                    <use xlink:href="#icon-keyboard-down"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="collapse" id="E-Commerce">
                            <ul class="sidebar__collapse-menu">

                                <li class="sidebar__menu-item">
                                    <a asp-area="Admin" asp-controller="Products" class="sidebar__link"><span class="sidebar__link-signal"></span><span class="sidebar__link-text">Products</span></a>
                                </li>
                                <li class="sidebar__menu-item">
                                    <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="sidebar__link"><span class="sidebar__link-signal"></span><span class="sidebar__link-text">Orders</span></a>
                                </li>
                                <li class="sidebar__menu-item">
                                    <a asp-area="Admin" asp-controller="Brands" asp-action="Index" class="sidebar__link"><span class="sidebar__link-signal"></span><span class="sidebar__link-text">Brands</span></a>
                                </li>
                                <li class="sidebar__menu-item">
                                    <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="sidebar__link"><span class="sidebar__link-signal"></span><span class="sidebar__link-text">Categories</span></a>
                                </li>
                                <li class="sidebar__menu-item">
                                    <a asp-area="Admin" asp-controller="Attributes" asp-action="Index" class="sidebar__link"><span class="sidebar__link-signal"></span><span class="sidebar__link-text">Attributes</span></a>
                                </li>
                                @* <li class="sidebar__menu-item">
                                    <a asp-are="Admin" asp-controller="Customers" asp-action="Index" class="sidebar__link"><span class="sidebar__link-signal"></span><span class="sidebar__link-text">Customers</span></a>
                                </li> 
                                <li class="sidebar__menu-item">
                                    <a class="sidebar__link" href="Admin/Customers/Customer_Account"><span class="sidebar__link-signal"></span><span class="sidebar__link-text">Account</span></a>
                                </li> *@
                            </ul>
                        </div>
                    </li>
                    @* <li class="sidebar__menu-item">
                        <a class="sidebar__link" href="ui-kit.html" aria-expanded="false">
                            <span class="sidebar__link-icon">
                                <svg class="icon-icon-settings">
                                    <use xlink:href="#icon-settings"></use>
                                </svg>
                            </span><span class="sidebar__link-text">UI Kit</span>
                        </a>
                    </li> *@
                </ul>
            </nav>
        </div>
    </div>
</aside>
