@* @model fashion.Data.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Custom_Layout.cshtml";
}

<main class="page-content">
    <div class="container">
        <h1>Create</h1>

        <h4>Category</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-area="Admin" asp-controller="Categories" asp-action="Create" method="POST" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <input name="img" type="file" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Slug" class="control-label"></label>
                        <input asp-for="Slug" class="form-control" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</main> *@



﻿@* @model fashion.Data.Category *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Custom_Layout.cshtml";
}

<main class="page-content">
    <div class="container">
        <h1>Create</h1>

        <h4>Category</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input name="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Img</label>
                        <input name="img" type="file" class="form-control" accept="image/png, image/jpeg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Slug</label>
                        <input name="Slug" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">ParentId</label>
                        <select name="ParentId">
                            @if (ViewBag.ListCategory != null)
                            {
                                foreach (var category in ViewBag.ListCategory)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</main>